.banner {
  display: flex;
  align-items: end;
  background-color: blue;
  width: 100%;
  height: 400px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-image: url("starry-galaxy.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 20px;

}
 .banner-content {
  color: white;
//   position: absolute;
//   bottom: 10px;
//   left: 10px;
 }
