.banner {
  display: flex;
  align-items: end;
  width: 100%;
  height: 400px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-image: url("https://res.cloudinary.com/dfi8ju7lr/image/upload/v1677604767/AstroPort/starry-galaxy_oj2c7o.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 20px;

}
 .banner-content {
  color: white;
//   position: absolute;
//   bottom: 10px;
//   left: 10px;
 }
