.carousel {
  display: flex;
  color: rgb(10, 255, 5);
  margin-bottom: 20px;
  margin-top: 50px;
}

.carousel img {
  display: flex;
  height: 400px;
  width: 500px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
 .carousel-caption {
  color:rgb(10, 255, 5);

 }
