.footer {
  display: flex;
  height: 50px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-image: url("starry-galaxy");
  color: rgb(10, 255, 5);
  justify-content: space-between;
}

.footer p {
  padding-top: 10px;
  padding-left: 10px;
}

.footer h3 {
  text-align: end;
  padding-top: 10px;
  padding-right: 10px;
}
