.footer {
  height: 50px;
  width: 100%;
  position: static;
  left: 0;
  bottom: 0;
  background-image: url("starry-galaxy");
  color: rgb(10, 255, 5);
}

.footer p {
  padding-top: 10px;
}


// .footer {
//   position: fixed;
//   left: 0;
//   bottom: 0;
//   text-align: center;
//   width: 100%;
//   background-color: red;
//   color: white;
// }
