.footer {
  display: flex;
  height: 50px;
  align-items: end;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
  margin-top: 10px;
  background-image: url("starry-galaxy");
  color: rgb(10, 255, 5);
}
