// Specific CSS for your home-page
h3 {
  color: rgb(10, 255, 5);
  justify-content: center;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

.info {
  justify-content: center;
  text-align: center;
}
