<div class="footer">
  <p>2785 AstroPort, Inc.  Privacy. Terms. Sitemap. Galactic Slavery Accord. Company Details.</p>
  <h3 class="fa-solid fa-satellite"></h3>
</div>





<%# class ="fa-brands fa-reddit-alien" %>
