<div class="footer">
  <div>
    <p>2785 AstroPort, Inc.  Privacy. Terms. Sitemap. Galactic Slavery Accord. Company Details.</p>
  </div>
  <div class="icons">
    <h3 class="fa-solid fa-satellite"></h3>
    <h3 class="fa-brands fa-reddit-alien"></h3>
    <h3 class="fa-solid fa-meteor"></h3>
  </div>
</div>





<%# class ="fa-brands fa-reddit-alien" %>
