
<%# navbar %>
<div class = "info">
  <h3>Whether you've got a ship lying around or looking for one to make a trip, Astroport is here for you.</h3>
  <h3>AstroPort is a way for fellow space explorers to get together and meet each others exploring needs.</h3>
  <%= button_to "See all spaceships", "spaceships", :id => "spaceship-btn", :method => :get %>
</div>

<div class="container">
  <div id ="ship-carousel" class="carousel slide" data-bs-ride="carousel" >
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
       <%= image_tag("millennium-falcon.png") %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Universal space travel</h5>
        <p>Whatever your budget we can get you from A to BetaGammaV!</p>
      </div>
    </div>

    <div class="carousel-item" data-bs-interval="3000">
      <%= image_tag("RazorCrest.webp") %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Intergalactic Raiding</h5>
        <p>Whether you're just going to raid some primitive peoples <br> or conquer galaxies, we have the ship for you!</p>
      </div>
    </div>

    <div class="carousel-item" data-bs-interval="3000">
      <%= image_tag("u-wing.webp")  %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Long or short distance space travel</h5>
        <p>We have spaceships for all durations, whether is just a quick hop <br> across the galaxy or a long trip to explore new galaxies.</p>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
