
<%# navbar %>

<div class="banner" >
  <div class="banner-content">
    <h1>AstroPort</h1>
  </div>

</div>

<div class="ship-type-cards">
  <div class="ship-type-card">
      <img src="/app/assets/images/aeroplane wing.jpg" alt="">
      Ship type 1</div>
  <div class="ship-type-card">
      <img src="/app/assets/images/aeroplane wing.jpg" alt="">
      Ship type 2</div>
  <div class="ship-type-card">
      <img src="/app/assets/images/aeroplane wing.jpg" alt="">
      Ship type 3</div>
</div>


<div class="top-ships">
  <h2>Top rated ships for ...</h2>
  <div class="ship-card">
    <img src="" alt="">
    <h3>name:</h3>
    <h4>captain:</h4>
    <p>price:</p>
    <p>rating:</p>
  </div>

  <div class="ship-card">
    <img src="" alt="">
    <h3>name:</h3>
    <h4>captain:</h4>
    <p>price:</p>
    <p>rating:</p>
  </div>

  <div class="ship-card">
    <img src="" alt="">
    <h3>name:</h3>
    <h4>captain:</h4>
    <p>price:</p>
    <p>rating:</p>
  </div>

  <div class="ship_card">
    <img src="" alt="">
    <h3>name:</h3>
    <h4>captain:</h4>
    <p>price:</p>
    <p>rating:</p>
  </div>
</div>

<div class="container" id="Top_ships">
  <h2>Top rated ships for ...</h2>
  <div class="ship_card">
    <img src="" alt="">
    <h3>name:</h3>
    <h4>captain:</h4>
    <p>price:</p>
    <p>rating:</p>
  </div>

  <div class="ship_card">
    <img src="" alt="">
    <h3>name:</h3>
    <h4>captain:</h4>
    <p>price:</p>
    <p>rating:</p>
  </div>

  <div class="ship_card">
    <img src="" alt="">
    <h3>name:</h3>
    <h4>captain:</h4>
    <p>price:</p>
    <p>rating:</p>
  </div>

  <div class="ship_card">
    <img src="" alt="">
    <h3>name:</h3>
    <h4>captain:</h4>
    <p>price:</p>
    <p>rating:</p>
  </div>
</div>

<div class="footer">
  <p>Stuff stuff stuff</p>
</div>
