
<%# navbar %>

<div class="banner" >
  <div class="banner-content">
    <h1 class="fa-solid fa-rocket" >AstroPort  </h1>
    <%= link_to "See all spaceships", "spaceships" %>
  </div>
</div>

<div class="container">
  <div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
       <%= cl_image_tag("AstroPort/millennium-falcon_fe8miy") %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Universal space travel</h5>
        <p>Whatever your budget we can get you from A to BetaGammaV!</p>
      </div>
    </div>

    <div class="carousel-item">
      <%= cl_image_tag("AstroPort/spaceship-two_pwr3hf") %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Intergalactic Raiding</h5>
        <p>Whether you're just going to raid some primitive peoples <br> or conquer galaxies, we have the ship for you!</p>
      </div>
    </div>

    <div class="carousel-item">
      <%= cl_image_tag("AstroPort/helmet-ship_gkruy7")  %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Long or short distance space travel</h5>
        <p>We have spaceships for all durations, whether is just a quick hop <br> across the galaxy or a long trip to explore new galaxies.</p>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

