<div class="container">
  <div class="filters">
    <div class="filter">Luxury</div>
    <div class="filter">Speed+</div>
    <div class="filter">Scenic</div>
    <div class="filter">Trending</div>
    <div class="filter">Private</div>
    <div class="filter">Mercury</div>
    <div class="filter">Venus</div>
    <div class="filter">Mars</div>
    <div class="filter">Jupiter</div>
    <div class="filter">Saturn</div>
    <div class="filter">Uranus</div>
    <div class="filter">Pluto</div>
  </div>

  <% ships= ["millennium-falcon.webp", "helmet-ship.png", "Star-Destroyer.jpeg", "clawcraft.webp"] %>
  <div class="content">
    <% @spaceships.each do |spaceship| %>
      <div class="card">
      <%= image_tag("#{ships.sample}", height: '150', width: '200') %>
      <%= link_to spaceship.name, spaceship_path(spaceship) %>
      Captain:
      <p></p>
      Description:
      <p></p>
      Rating:
      </div>
    <% end %>
</div>
