.containerr {
  background-image: url("starry-galaxy.jpeg");
  width: 100%;
}

.filters {
  display: flex;
  overflow: scroll;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */

}

.filter {
  padding: 90px;
  color: white;
  text-align: center;

}

.content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

.containerrr {
  background-image: url("starry-galaxy.jpeg");
  width: 100%;
  padding: 50px;
}
