.ship-type-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  gap: 15px;
  float: left;
  width: 300px;
  height: 375px;
  left: 137px;
  top: 728px;

  background: #FFFFFF;
  backdrop-filter: blur(2.5px);
}

.ship-type-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}
