// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";


// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-image: url("https://res.cloudinary.com/dfi8ju7lr/image/upload/v1677604767/AstroPort/starry-galaxy_oj2c7o.jpg");
  color: rgb(10, 255, 5);
}

h4, h6 {
  color: black
}
